*{
    font-size: 40px;
}
.language-container{
    display: flex;
    width: 500px;
    background-color: rgba(121, 121, 121, 0.212);
    margin: 10px;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
}
.language-container button{
    font-size: 20px;
    color: white;
    width: 100px;
    height: 50px;
    border: none;
    background-color: rgba(255, 255, 255, 0.253);
    transition: 0.3s;
}

.language-container button:hover{
background-color: white;
color: black;
cursor: pointer;
}