.body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #eee;
}

.todo-app{
  max-width: 700px;
  margin: 20px auto;
  padding: 10px 20px 10px;
}

.collection-item{
  background: #fff;
}

.collection-item span:hover{
  cursor: pointer;
  text-decoration: line-through;
}

.collection .collection-item {
  background-color: #fff;
  line-height: 1.5rem;
  padding: 10px 20px;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
}

form{
  margin: 20px 10px;
}

.collection {
  margin: 0.5rem 0 1rem 0;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  background-color: white;
}

div {
  display: block;
}

.center, .center-align {
  text-align: center;
}

.red-text {
  color: #f33321 !important;
}

h1 {
  font-size: 4.2rem;
  line-height: 110%;
  margin: 2.8rem 0 1.68rem 0;
}

input[type=text]:not(.browser-default){
  background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;
}